version: '3.8'

services:
  db:
    image: mysql:8.0  # 안정적인 8.0 버전 사용
    container_name: fraud_mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}  # [변경 필요] 루트 비밀번호
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: user                    # (옵션) 추가 유저
      MYSQL_PASSWORD: user_password       # (옵션) 추가 유저 비번
      TZ: Asia/Seoul                      # 타임존 설정 (한국 시간)
    ports:
      - "${DB_PORT}:3306"  # 내 컴퓨터 포트 : 컨테이너 포트
    volumes:
      #  데이터를 내 컴퓨터에 저장하는 설정
      # ./mysql_data 폴더와 컨테이너 내부의 데이터 폴더를 연결합니다.
      - ./mysql_data:/var/lib/mysql

    # 한글 깨짐 방지를 위한 설정 (utf8mb4)
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
  redis:
    image: redis:alpine
    container_name: my-redis
    ports:
      - "${REDIS_PORT}:6379"
    # 비밀번호 설정 (필수 아님, 보안상 권장)
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    volumes:
      # 데이터를 로컬에 저장 (컨테이너가 꺼져도 데이터 유지)
      - ./redis_data:/data
    restart: always