SPRING_PORT=8080
FASTAPI_PORT=8000

MYSQL_DB_HOST=your_host
MYSQL_DB_PORT=your_port
MYSQL_DB_NAME=home_risk_check
MYSQL_DB_USERNAME=your_username
MYSQL_DB_PASSWORD=your_password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=root1234

CORS_ALLOWED_ORIGINS=http://localhost:3000
FASTAPI_BASE_URL=http://localhost:8000

JWT_SECRET=your_secret
JWT_EXPIRATION=3600000

#TAAS 교통사고 API
TAAS_API_KEY=api_key

#카카오 주소 API
KAKAO_REST_API_KEY=api_key
